<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Feather Icon</h4>
              <h6 class="card-subtitle">Usa el icono importando en el <code>app.module</code> sin guión en la contante icons y usar la etiqueta <code>&lt;i-feather name="Camera"&gt;&lt;/i-feather&gt;</code> </h6>
              <section>
                  <div class="icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Camera" class="feather-sm"></i-feather> Camera </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Heart" class="feather-sm"></i-feather> Heart </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Github" class="feather-sm"></i-feather> Github </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Activity" class="feather-sm"></i-feather> Activity </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Airplay" class="feather-sm"></i-feather> Airplay </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Alert-Circle" class="feather-sm"></i-feather> Alert-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Alert-Octagon" class="feather-sm"></i-feather> Alert-Octagon </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Alert-Triangle" class="feather-sm"></i-feather> Alert-Triangle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Align-Center" class="feather-sm"></i-feather> Align-Center </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Align-Justify" class="feather-sm"></i-feather> Align-Justify </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Align-Left" class="feather-sm"></i-feather> Align-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Align-Right" class="feather-sm"></i-feather> Align-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Anchor" class="feather-sm"></i-feather> Anchor </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Aperture" class="feather-sm"></i-feather> Aperture </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Archive" class="feather-sm"></i-feather> Archive </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Down" class="feather-sm"></i-feather> Arrow-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Down-Circle" class="feather-sm"></i-feather> Arrow-Down-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Down-Left" class="feather-sm"></i-feather> Arrow-Down-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Down-Right" class="feather-sm"></i-feather> Arrow-Down-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Left-Circle" class="feather-sm"></i-feather> Arrow-Left-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Left" class="feather-sm"></i-feather> Arrow-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Right" class="feather-sm"></i-feather> Arrow-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Right-Circle" class="feather-sm"></i-feather> Arrow-Right-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Up" class="feather-sm"></i-feather> Arrow-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Up-Circle" class="feather-sm"></i-feather> Arrow-Up-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Up-Left" class="feather-sm"></i-feather> Arrow-Up-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Arrow-Up-Right" class="feather-sm"></i-feather> Arrow-Up-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="At-Sign" class="feather-sm"></i-feather> At-Sign </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Award" class="feather-sm"></i-feather> Award </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bar-Chart-2" class="feather-sm"></i-feather> Bar-Chart-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bar-Chart" class="feather-sm"></i-feather> Bar-Chart </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Battery-Charging" class="feather-sm"></i-feather> Battery-Charging </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Battery" class="feather-sm"></i-feather> Battery </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bell-Off" class="feather-sm"></i-feather> Bell-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bell" class="feather-sm"></i-feather> Bell </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bluetooth" class="feather-sm"></i-feather> Bluetooth </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bold" class="feather-sm"></i-feather> Bold </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Book-Open" class="feather-sm"></i-feather> Book-Open </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Book" class="feather-sm"></i-feather> Book </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Bookmark" class="feather-sm"></i-feather> Bookmark </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Box" class="feather-sm"></i-feather> Box </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Briefcase" class="feather-sm"></i-feather> Briefcase </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Calendar" class="feather-sm"></i-feather> Calendar </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Camera-Off" class="feather-sm"></i-feather> Camera-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cast" class="feather-sm"></i-feather> Cast </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Check-Circle" class="feather-sm"></i-feather> Check-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Check-Square" class="feather-sm"></i-feather> Check-Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Check" class="feather-sm"></i-feather> Check </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevron-Down" class="feather-sm"></i-feather> Chevron-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevron-Left" class="feather-sm"></i-feather> Chevron-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevron-Right" class="feather-sm"></i-feather> Chevron-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevron-Up" class="feather-sm"></i-feather> Chevron-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevrons-Down" class="feather-sm"></i-feather> Chevrons-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevrons-Left" class="feather-sm"></i-feather> Chevrons-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevrons-Right" class="feather-sm"></i-feather> Chevrons-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chevrons-Up" class="feather-sm"></i-feather> Chevrons-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Chrome" class="feather-sm"></i-feather> Chrome </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Circle" class="feather-sm"></i-feather> Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Clipboard" class="feather-sm"></i-feather> Clipboard </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Clock" class="feather-sm"></i-feather> Clock </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud-Drizzle" class="feather-sm"></i-feather> Cloud-Drizzle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud-Lightning" class="feather-sm"></i-feather> Cloud-Lightning </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud-Off" class="feather-sm"></i-feather> Cloud-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud-Rain" class="feather-sm"></i-feather> Cloud-Rain </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud" class="feather-sm"></i-feather> Cloud </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cloud-Snow" class="feather-sm"></i-feather> Cloud-Snow </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Code" class="feather-sm"></i-feather> Code </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Codepen" class="feather-sm"></i-feather> Codepen </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Codesandbox" class="feather-sm"></i-feather> Codesandbox </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Coffee" class="feather-sm"></i-feather> Coffee </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Columns" class="feather-sm"></i-feather> Columns </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Command" class="feather-sm"></i-feather> Command </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Compass" class="feather-sm"></i-feather> Compass </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Copy" class="feather-sm"></i-feather> Copy </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Down-Left" class="feather-sm"></i-feather> Corner-Down-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Down-Right" class="feather-sm"></i-feather> Corner-Down-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Left-Down" class="feather-sm"></i-feather> Corner-Left-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Left-Up" class="feather-sm"></i-feather> Corner-Left-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Right-Down" class="feather-sm"></i-feather> Corner-Right-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Right-Up" class="feather-sm"></i-feather> Corner-Right-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Up-Left" class="feather-sm"></i-feather> Corner-Up-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Corner-Up-Right" class="feather-sm"></i-feather> Corner-Up-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Cpu" class="feather-sm"></i-feather> Cpu </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Credit-Card" class="feather-sm"></i-feather> Credit-Card </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Crop" class="feather-sm"></i-feather> Crop </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Crosshair" class="feather-sm"></i-feather> Crosshair </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Database" class="feather-sm"></i-feather> Database </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Delete" class="feather-sm"></i-feather> Delete </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Disc" class="feather-sm"></i-feather> Disc </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Dollar-Sign" class="feather-sm"></i-feather> Dollar-Sign </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Download-Cloud" class="feather-sm"></i-feather> Download-Cloud </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Download" class="feather-sm"></i-feather> Download </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Droplet" class="feather-sm"></i-feather> Droplet </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Edit" class="feather-sm"></i-feather> Edit </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Edit-2" class="feather-sm"></i-feather> Edit-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Edit-3" class="feather-sm"></i-feather> Edit-3 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="External-Link" class="feather-sm"></i-feather> External-Link </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Eye-Off" class="feather-sm"></i-feather> Eye-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Eye" class="feather-sm"></i-feather> Eye </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Facebook" class="feather-sm"></i-feather> Facebook </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Fast-Forward" class="feather-sm"></i-feather> Fast-Forward </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Feather" class="feather-sm"></i-feather> Feather </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Figma" class="feather-sm"></i-feather> Figma </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="File-Minus" class="feather-sm"></i-feather> File-Minus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="File-plus" class="feather-sm"></i-feather> File-plus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="File-Text" class="feather-sm"></i-feather> File-Text </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="File" class="feather-sm"></i-feather> File </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Film" class="feather-sm"></i-feather> Film </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Filter" class="feather-sm"></i-feather> Filter </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Flag" class="feather-sm"></i-feather> Flag </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Folder" class="feather-sm"></i-feather> Folder </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Folder-Minus" class="feather-sm"></i-feather> Folder-Minus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Folder-Plus" class="feather-sm"></i-feather> Folder-Plus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Framer" class="feather-sm"></i-feather> Framer </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Frown" class="feather-sm"></i-feather> Frown </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Gift" class="feather-sm"></i-feather> Gift </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Git-Branch" class="feather-sm"></i-feather> Git-Branch </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Git-Commit" class="feather-sm"></i-feather> Git-Commit </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Git-Merge" class="feather-sm"></i-feather> Git-Merge </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Git-Pull-Request" class="feather-sm"></i-feather> Git-Pull-Request </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Gitlab" class="feather-sm"></i-feather> Gitlab </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Globe" class="feather-sm"></i-feather> Globe </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Grid" class="feather-sm"></i-feather> Grid </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Hard-Drive" class="feather-sm"></i-feather> Hard-Drive </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Hash" class="feather-sm"></i-feather> Hash </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Headphones" class="feather-sm"></i-feather> Headphones </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Help-Circle" class="feather-sm"></i-feather> Help-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Hexagon" class="feather-sm"></i-feather> Hexagon </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Home" class="feather-sm"></i-feather> Home </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="More-Horizontal" class="feather-sm"></i-feather> More-Horizontal </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Image" class="feather-sm"></i-feather> Image </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Inbox" class="feather-sm"></i-feather> Inbox </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Info" class="feather-sm"></i-feather> Info </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Instagram" class="feather-sm"></i-feather> Instagram </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Italic" class="feather-sm"></i-feather> Italic </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Key" class="feather-sm"></i-feather> Key </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Layers" class="feather-sm"></i-feather> Layers </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Layout" class="feather-sm"></i-feather> Layout </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Life-Buoy" class="feather-sm"></i-feather> Life-Buoy </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Link" class="feather-sm"></i-feather> Link </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Link-2" class="feather-sm"></i-feather> Link-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Linkedin" class="feather-sm"></i-feather> Linkedin </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="List" class="feather-sm"></i-feather> List </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Loader" class="feather-sm"></i-feather> Loader </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Lock" class="feather-sm"></i-feather> Lock </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Log-In" class="feather-sm"></i-feather> Log-In </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Log-Out" class="feather-sm"></i-feather> Log-Out </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Mail" class="feather-sm"></i-feather> Mail </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Map-Pin" class="feather-sm"></i-feather> Map-Pin </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Map" class="feather-sm"></i-feather> Map </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Maximize" class="feather-sm"></i-feather> Maximize </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Maximize-2" class="feather-sm"></i-feather> Maximize-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Meh" class="feather-sm"></i-feather> Meh </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Menu" class="feather-sm"></i-feather> Menu </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Message-Circle" class="feather-sm"></i-feather> Message-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Message-Square" class="feather-sm"></i-feather> Message-Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Mic" class="feather-sm"></i-feather> Mic </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Mic-Off" class="feather-sm"></i-feather> Mic-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Minimize" class="feather-sm"></i-feather> Minimize </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Minimize-2" class="feather-sm"></i-feather> Minimize-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Minus-Circle" class="feather-sm"></i-feather> Minus-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Minus-Square" class="feather-sm"></i-feather> Minus-Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Minus" class="feather-sm"></i-feather> Minus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Monitor" class="feather-sm"></i-feather> Monitor </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Moon" class="feather-sm"></i-feather> Moon </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="More-Vertical" class="feather-sm"></i-feather> More-Vertical </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Mouse-Pointer" class="feather-sm"></i-feather> Mouse-Pointer </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Move" class="feather-sm"></i-feather> Move </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Music" class="feather-sm"></i-feather> Music </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Navigation" class="feather-sm"></i-feather> Navigation </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Navigation-2" class="feather-sm"></i-feather> Navigation-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Octagon" class="feather-sm"></i-feather> Octagon </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Package" class="feather-sm"></i-feather> Package </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Paperclip" class="feather-sm"></i-feather> Paperclip </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Pause-Circle" class="feather-sm"></i-feather> Pause-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Pause" class="feather-sm"></i-feather> Pause </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Pen-Tool" class="feather-sm"></i-feather> Pen-Tool </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Percent" class="feather-sm"></i-feather> Percent </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Call" class="feather-sm"></i-feather> Phone-Call </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Forwarded" class="feather-sm"></i-feather> Phone-Forwarded </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Incoming" class="feather-sm"></i-feather> Phone-Incoming </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Missed" class="feather-sm"></i-feather> Phone-Missed </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone" class="feather-sm"></i-feather> Phone </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Off" class="feather-sm"></i-feather> Phone-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Phone-Outgoing" class="feather-sm"></i-feather> Phone-Outgoing </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Pie-Chart" class="feather-sm"></i-feather> Pie-Chart </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Play" class="feather-sm"></i-feather> Play </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Play-Circle" class="feather-sm"></i-feather> Play-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Plus" class="feather-sm"></i-feather> Plus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Plus-Circle" class="feather-sm"></i-feather> Plus-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Plus-Square" class="feather-sm"></i-feather> Plus-Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Pocket" class="feather-sm"></i-feather> Pocket </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Power" class="feather-sm"></i-feather> Power </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Printer" class="feather-sm"></i-feather> Printer </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Radio" class="feather-sm"></i-feather> Radio </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Refresh-Ccw" class="feather-sm"></i-feather> Refresh-Ccw </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Refresh-Cw" class="feather-sm"></i-feather> Refresh-Cw </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Repeat" class="feather-sm"></i-feather> Repeat </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Rewind" class="feather-sm"></i-feather> Rewind </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Rotate-Ccw" class="feather-sm"></i-feather> Rotate-Ccw </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Rotate-Cw" class="feather-sm"></i-feather> Rotate-Cw </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Rss" class="feather-sm"></i-feather> Rss </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Save" class="feather-sm"></i-feather> Save </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Scissors" class="feather-sm"></i-feather> Scissors </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Search" class="feather-sm"></i-feather> Search </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Send" class="feather-sm"></i-feather> Send </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Server" class="feather-sm"></i-feather> Server </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Settings" class="feather-sm"></i-feather> Settings </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Share" class="feather-sm"></i-feather> Share </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Share-2" class="feather-sm"></i-feather> Share-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Shield" class="feather-sm"></i-feather> Shield </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Shield-Off" class="feather-sm"></i-feather> Shield-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Shopping-Bag" class="feather-sm"></i-feather> Shopping-Bag </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Shopping-Cart" class="feather-sm"></i-feather> Shopping-Cart </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Shuffle" class="feather-sm"></i-feather> Shuffle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Sidebar" class="feather-sm"></i-feather> Sidebar </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Skip-Back" class="feather-sm"></i-feather> Skip-Back </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Skip-Forward" class="feather-sm"></i-feather> Skip-Forward </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Slack" class="feather-sm"></i-feather> Slack </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Slash" class="feather-sm"></i-feather> Slash </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Sliders" class="feather-sm"></i-feather> Sliders </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Smartphone" class="feather-sm"></i-feather> Smartphone </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Smile" class="feather-sm"></i-feather> Smile </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Speaker" class="feather-sm"></i-feather> Speaker </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Square" class="feather-sm"></i-feather> Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Star" class="feather-sm"></i-feather> Star </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Stop-Circle" class="feather-sm"></i-feather> Stop-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Sun" class="feather-sm"></i-feather> Sun </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Sunrise" class="feather-sm"></i-feather> Sunrise </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Sunset" class="feather-sm"></i-feather> Sunset </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Tablet" class="feather-sm"></i-feather> Tablet </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Tag" class="feather-sm"></i-feather> Tag </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Target" class="feather-sm"></i-feather> Target </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Terminal" class="feather-sm"></i-feather> Terminal </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Thermometer" class="feather-sm"></i-feather> Thermometer </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Thumbs-Down" class="feather-sm"></i-feather> Thumbs-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Thumbs-Up" class="feather-sm"></i-feather> Thumbs-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Toggle-Left" class="feather-sm"></i-feather> Toggle-Left </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Toggle-Right" class="feather-sm"></i-feather> Toggle-Right </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Tool" class="feather-sm"></i-feather> Tool </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Trash" class="feather-sm"></i-feather> Trash </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Trash-2" class="feather-sm"></i-feather> Trash-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Trello" class="feather-sm"></i-feather> Trello </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Trending-Down" class="feather-sm"></i-feather> Trending-Down </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Trending-Up" class="feather-sm"></i-feather> Trending-Up </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Triangle" class="feather-sm"></i-feather> Triangle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Truck" class="feather-sm"></i-feather> Truck </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Tv" class="feather-sm"></i-feather> Tv </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Twitch" class="feather-sm"></i-feather> Twitch </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Twitter" class="feather-sm"></i-feather> Twitter </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Type" class="feather-sm"></i-feather> Type </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Umbrella" class="feather-sm"></i-feather> Umbrella </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Underline" class="feather-sm"></i-feather> Underline </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Unlock" class="feather-sm"></i-feather> Unlock </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Upload" class="feather-sm"></i-feather> Upload </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Upload-Cloud" class="feather-sm"></i-feather> Upload-Cloud </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="User" class="feather-sm"></i-feather> User </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="User-Check" class="feather-sm"></i-feather> User-Check </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="User-Minus" class="feather-sm"></i-feather> User-Minus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="User-Plus" class="feather-sm"></i-feather> User-Plus </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="User-X" class="feather-sm"></i-feather> User-X </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Users" class="feather-sm"></i-feather> Users </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Video" class="feather-sm"></i-feather> Video </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Video-Off" class="feather-sm"></i-feather> Video-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Voicemail" class="feather-sm"></i-feather> Voicemail </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Volume" class="feather-sm"></i-feather> Volume </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Volume-1" class="feather-sm"></i-feather> Volume-1 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Volume-2" class="feather-sm"></i-feather> Volume-2 </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Volume-X" class="feather-sm"></i-feather> Volume-X </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Watch" class="feather-sm"></i-feather> Watch </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Wifi" class="feather-sm"></i-feather> Wifi </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Wifi-Off" class="feather-sm"></i-feather> Wifi-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Wind" class="feather-sm"></i-feather> Wind </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="X-Circle" class="feather-sm"></i-feather> X-Circle </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="X-Octagon" class="feather-sm"></i-feather> X-Octagon </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="X-Square" class="feather-sm"></i-feather> X-Square </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="X" class="feather-sm"></i-feather> X </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Youtube" class="feather-sm"></i-feather> Youtube </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Zap" class="feather-sm"></i-feather> Zap </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Zap-Off" class="feather-sm"></i-feather> Zap-Off </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Zoom-In" class="feather-sm"></i-feather> Zoom-In </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 f-icon"><i-feather name="Zoom-Out" class="feather-sm"></i-feather> Zoom-Out </div>

                  </div>
              </section>
          </div>
      </div>
  </div>
</div>
